@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

@layer components {
  .borderBlack {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
